
<style>
body {
  color: blue;
}

h1 {
  color: green;
}

p {
  font-family: verdana;
  font-size: 30px;
}
</style>



<body>
<h1>This header is green text</p>
<p>Blue text for this paragraph</p>
</body>
